/* Styling of format for body HTML font */
/* color codes for my own notes
	#906b4e - tan
	#6a321e - orange
	#3b1c13 - red
	#322d24 - sage
	#0f1110 - forest*/

.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}

body, html{
	height: 100%;
	color:#906b4e;
	line-height: 1.5;
}

/* Creating a Parallax (Webpage navigation bar doesn't move but other content does) */

.homephoto, .aboutphoto, .contactphoto {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Photo imports and sizing */
.homephoto {
	background-image: url();
	min-height: 100%
}

.aboutphoto{
	background-image: url();
	min-height: 300 px;
}

.contactphoto{
	background-image: url();
	min-height: 300 px;
}

.styling-wide {letter-spacing: 15px;}
.hover-opacity {cursor:pointer;}

/* Navigation Bar Styling */
#navlist{
	list-style-type: none;
	margin: 10;
	padding: 10;
}

/* Button Styling */
.button{
	background-color:#6a321e;
	border: none;
	color:#906b4e;
	padding: 15px 32px;
	text-align: Center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;}

/*container for Contact page */
.container{
	max-width: 600px;
	margin: 50px auto;
	padding: 20 px;
	background-color:#3b1c13;
	border-radius: 8px;
	box-shadow: 0 0 10px #0f1110;
}

form{
	margin-top: 20px;
}

input[type="text"], textarea{
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom:20 px;
	border: 1px solid #322d24;
	box-sizing: border-box;

}

input[type="submit"]{
	background-color:#6a321e;
	color: #906b4e;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16 px;
}

input[type="submit"]:hover{
	background-color:#322d24;
}







