/* Styling of format for body HTML font */
/* color codes for my own notes
	bistre: #3B2E25ff;
	coffee: #724B3Cff;
	linen: #F4EBE2ff;
	feldgrau: #4B594Cff;
	hookers-green: #688277ff;*/

/*Image formatting*/
.aboutphoto{
	text-align: left;
}

/* Text & basic Webpage Formatting */
.farsan-regular {
	font-family: "Farsan", cursive;
	font-weight: 400;
	font-style: normal;
  }

/* formatting for header*/
.h1Container{
	max-width: 100%;
	height: 80px;
	background-image:url("trees.jpg");
	background-size: cover;
	border:5px solid #3B2E25ff;
	box-shadow: 0 0 7px #724B3Cff;
	position:relative;
	overflow:hidden;
}


h1,h2,h3,h4,h5,h6{
	font-family: Farsan;
	margin:2%
}

p{
	font-family: Farsan;
	padding: 10px;
	text-align:left;
}

body, html{
	font-family: Farsan;
	height: 100%;
	color:#F4EBE2ff;
	line-height: 1.5;
	background-color:#4B594Cff;
}

/* Navigation Bar Styling */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#688277ff;
}

li{
	float: left;
}

li a{
	display: block;
	color:#F4EBE2ff;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}

li a:hover{
	border: 2px solid;
	border-color:#724B3Cff;
	background-color:#4B594Cff;
}

.active {
	border: 2px solid;
	border-color:#724B3Cff;
	background-color: #4B594Cff;
  }

/*container for Contact page */
.containerC{
	max-width: 600px;
	margin: 50px auto;
	padding: 20 px;
	background-color:#3B2E25ff;
	border-radius: 8px;
	box-shadow: 0 0 7px #724B3Cff;
	text-align: center;
}

form{
	margin-top: 20px;
}

input[type="text"], textarea{
	width: 98%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid ;
	box-sizing: border-box;
}

input[type="submit"]{
	background-color:#3B2E25ff;
	color:#F4EBE2ff ;
	padding: 12px 20px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	font-size: 16 px;
}

input[type="submit"]:hover{
	background-color:#724B3Cff;
}

label{
	margin: 2%;
}

/* Container for About Page */
.containerA{
	float: right;
	max-width: 55%;
	margin-top: 50px auto;
	margin-right: 20px;
	margin-bottom: 0px;
	padding: 20 px;
	background-color:#3B2E25ff;
	box-shadow: 0 0 7px #724B3Cff;
	text-align: left;
}


/* making footer stay at bottom*/
footer{
	bottom:0%;
	position:fixed;
}

/* Table for home page */

table{
	width: 100%;
	padding: 20px;
	padding-bottom: 80px;
	border: none;
	text-align: center;
	table-layout:fixed;
}





